.buttons {
    margin-bottom: 20px;
    margin-top: 20px;
}

#train-btn, #test-btn {
    background-color: #ce8a25;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

#train-btn:hover, #test-btn:hover {
    background-color: #b76e1f;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}
p {
    color: #555;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;

}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.patterns {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}
